<div class="bg-gray-100 h-screen flex flex-col items-center justify-center">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-xl">
    <div class="flex items-center justify-center mb-8 gap-2">
      <%= image_tag 'logo.png', class: "w-10" %>
      <p class="font-bold text-blue-900 text-xl uppercase">fupi</p>
    </div>
    <% if @url %>
     <%= render 'show' %>
    <% else %>
      <%= render 'form' %>
    <% end %>
  </div>
</div>


